<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"> 
	
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a th:href="@{/}"><img src="/img/logo_Trainning Bridge.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10">
                        <nav class="main-menu mobile-menu">
                            <ul>
                            
                                <li><a class="" th:href="@{/}">Home</a></li>
                                <li><a class="" th:href="@{/others/about-us}">About us</a></li>
                                <li><a class="" th:href="@{/others/classes}">Classes</a></li>
                                <li><a class="" th:href="@{/others/blog}">Blog</a></li>
                                <li><a class="" th:href="@{/others/contact}">Contact</a></li>
                                <li class="phone-num"><i class="fa fa-phone"></i><span>0507-1435-2156</span></li>
                                <li class="search-btn search-trigger"><i class="fa fa-search"></i></li>
                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
</html>